src/META-INF/wsdl/marksmanager.56mfu9rwbj.us-east-1.elasticbeanstalk.com/ApplicationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.marksmana.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.marksmana.com/" name="ApplicationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.marksmana.com/" schemaLocation="http://marksmanager.56mfu9rwbj.us-east-1.elasticbeanstalk.com:80/ApplicationWebService?xsd=1" />
</xsd:schema>
</types>
<message name="addProperty">
<part name="parameters" element="tns:addProperty" />
</message>
<message name="addPropertyResponse">
<part name="parameters" element="tns:addPropertyResponse" />
</message>
<message name="getPropertyByKey">
<part name="parameters" element="tns:getPropertyByKey" />
</message>
<message name="getPropertyByKeyResponse">
<part name="parameters" element="tns:getPropertyByKeyResponse" />
</message>
<message name="getStudentsByClass">
<part name="parameters" element="tns:getStudentsByClass" />
</message>
<message name="getStudentsByClassResponse">
<part name="parameters" element="tns:getStudentsByClassResponse" />
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent" />
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse" />
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent" />
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse" />
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent" />
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse" />
</message>
<message name="getStudentById">
<part name="parameters" element="tns:getStudentById" />
</message>
<message name="getStudentByIdResponse">
<part name="parameters" element="tns:getStudentByIdResponse" />
</message>
<message name="getStudentsByName">
<part name="parameters" element="tns:getStudentsByName" />
</message>
<message name="getStudentsByNameResponse">
<part name="parameters" element="tns:getStudentsByNameResponse" />
</message>
<message name="removeStudent">
<part name="parameters" element="tns:removeStudent" />
</message>
<message name="removeStudentResponse">
<part name="parameters" element="tns:removeStudentResponse" />
</message>
<message name="getTeachers">
<part name="parameters" element="tns:getTeachers" />
</message>
<message name="getTeachersResponse">
<part name="parameters" element="tns:getTeachersResponse" />
</message>
<message name="getTeacherById">
<part name="parameters" element="tns:getTeacherById" />
</message>
<message name="getTeacherByIdResponse">
<part name="parameters" element="tns:getTeacherByIdResponse" />
</message>
<message name="addTeacher">
<part name="parameters" element="tns:addTeacher" />
</message>
<message name="addTeacherResponse">
<part name="parameters" element="tns:addTeacherResponse" />
</message>
<message name="updateTeacher">
<part name="parameters" element="tns:updateTeacher" />
</message>
<message name="updateTeacherResponse">
<part name="parameters" element="tns:updateTeacherResponse" />
</message>
<message name="getSubjects">
<part name="parameters" element="tns:getSubjects" />
</message>
<message name="getSubjectsResponse">
<part name="parameters" element="tns:getSubjectsResponse" />
</message>
<message name="getSubjectById">
<part name="parameters" element="tns:getSubjectById" />
</message>
<message name="getSubjectByIdResponse">
<part name="parameters" element="tns:getSubjectByIdResponse" />
</message>
<message name="getSubjectsByTeacher">
<part name="parameters" element="tns:getSubjectsByTeacher" />
</message>
<message name="getSubjectsByTeacherResponse">
<part name="parameters" element="tns:getSubjectsByTeacherResponse" />
</message>
<message name="getSubjectsByBulk">
<part name="parameters" element="tns:getSubjectsByBulk" />
</message>
<message name="getSubjectsByBulkResponse">
<part name="parameters" element="tns:getSubjectsByBulkResponse" />
</message>
<message name="updateScores">
<part name="parameters" element="tns:updateScores" />
</message>
<message name="updateScoresResponse">
<part name="parameters" element="tns:updateScoresResponse" />
</message>
<message name="updateScore">
<part name="parameters" element="tns:updateScore" />
</message>
<message name="updateScoreResponse">
<part name="parameters" element="tns:updateScoreResponse" />
</message>
<message name="removeScores">
<part name="parameters" element="tns:removeScores" />
</message>
<message name="removeScoresResponse">
<part name="parameters" element="tns:removeScoresResponse" />
</message>
<message name="archiveToLog">
<part name="parameters" element="tns:archiveToLog" />
</message>
<message name="archiveToLogResponse">
<part name="parameters" element="tns:archiveToLogResponse" />
</message>
<message name="editArchiveRemark">
<part name="parameters" element="tns:editArchiveRemark" />
</message>
<message name="editArchiveRemarkResponse">
<part name="parameters" element="tns:editArchiveRemarkResponse" />
</message>
<message name="archiveToLogByStudent">
<part name="parameters" element="tns:archiveToLogByStudent" />
</message>
<message name="archiveToLogByStudentResponse">
<part name="parameters" element="tns:archiveToLogByStudentResponse" />
</message>
<message name="getClassById">
<part name="parameters" element="tns:getClassById" />
</message>
<message name="getClassByIdResponse">
<part name="parameters" element="tns:getClassByIdResponse" />
</message>
<message name="updateClass">
<part name="parameters" element="tns:updateClass" />
</message>
<message name="updateClassResponse">
<part name="parameters" element="tns:updateClassResponse" />
</message>
<message name="removeClass">
<part name="parameters" element="tns:removeClass" />
</message>
<message name="removeClassResponse">
<part name="parameters" element="tns:removeClassResponse" />
</message>
<message name="getBulks">
<part name="parameters" element="tns:getBulks" />
</message>
<message name="getBulksResponse">
<part name="parameters" element="tns:getBulksResponse" />
</message>
<message name="getBulkById">
<part name="parameters" element="tns:getBulkById" />
</message>
<message name="getBulkByIdResponse">
<part name="parameters" element="tns:getBulkByIdResponse" />
</message>
<message name="addBulk">
<part name="parameters" element="tns:addBulk" />
</message>
<message name="addBulkResponse">
<part name="parameters" element="tns:addBulkResponse" />
</message>
<message name="updateBulk">
<part name="parameters" element="tns:updateBulk" />
</message>
<message name="updateBulkResponse">
<part name="parameters" element="tns:updateBulkResponse" />
</message>
<message name="removeBulk">
<part name="parameters" element="tns:removeBulk" />
</message>
<message name="removeBulkResponse">
<part name="parameters" element="tns:removeBulkResponse" />
</message>
<message name="adminLogin">
<part name="parameters" element="tns:adminLogin" />
</message>
<message name="adminLoginResponse">
<part name="parameters" element="tns:adminLoginResponse" />
</message>
<message name="getAdmins">
<part name="parameters" element="tns:getAdmins" />
</message>
<message name="getAdminsResponse">
<part name="parameters" element="tns:getAdminsResponse" />
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin" />
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse" />
</message>
<message name="updateAdmin">
<part name="parameters" element="tns:updateAdmin" />
</message>
<message name="updateAdminResponse">
<part name="parameters" element="tns:updateAdminResponse" />
</message>
<message name="removeAdmin">
<part name="parameters" element="tns:removeAdmin" />
</message>
<message name="removeAdminResponse">
<part name="parameters" element="tns:removeAdminResponse" />
</message>
<message name="getPropertyValueByKey">
<part name="parameters" element="tns:getPropertyValueByKey" />
</message>
<message name="getPropertyValueByKeyResponse">
<part name="parameters" element="tns:getPropertyValueByKeyResponse" />
</message>
<message name="updateProperty">
<part name="parameters" element="tns:updateProperty" />
</message>
<message name="updatePropertyResponse">
<part name="parameters" element="tns:updatePropertyResponse" />
</message>
<message name="addSubject">
<part name="parameters" element="tns:addSubject" />
</message>
<message name="addSubjectResponse">
<part name="parameters" element="tns:addSubjectResponse" />
</message>
<message name="updateSubject">
<part name="parameters" element="tns:updateSubject" />
</message>
<message name="updateSubjectResponse">
<part name="parameters" element="tns:updateSubjectResponse" />
</message>
<message name="removeSubject">
<part name="parameters" element="tns:removeSubject" />
</message>
<message name="removeSubjectResponse">
<part name="parameters" element="tns:removeSubjectResponse" />
</message>
<message name="teacherLogin">
<part name="parameters" element="tns:teacherLogin" />
</message>
<message name="teacherLoginResponse">
<part name="parameters" element="tns:teacherLoginResponse" />
</message>
<message name="getScoresBySubject">
<part name="parameters" element="tns:getScoresBySubject" />
</message>
<message name="getScoresBySubjectResponse">
<part name="parameters" element="tns:getScoresBySubjectResponse" />
</message>
<message name="getScoresByClass">
<part name="parameters" element="tns:getScoresByClass" />
</message>
<message name="getScoresByClassResponse">
<part name="parameters" element="tns:getScoresByClassResponse" />
</message>
<message name="addScores">
<part name="parameters" element="tns:addScores" />
</message>
<message name="addScoresResponse">
<part name="parameters" element="tns:addScoresResponse" />
</message>
<message name="removeProperty">
<part name="parameters" element="tns:removeProperty" />
</message>
<message name="removePropertyResponse">
<part name="parameters" element="tns:removePropertyResponse" />
</message>
<message name="addClass">
<part name="parameters" element="tns:addClass" />
</message>
<message name="addClassResponse">
<part name="parameters" element="tns:addClassResponse" />
</message>
<message name="getClasses">
<part name="parameters" element="tns:getClasses" />
</message>
<message name="getClassesResponse">
<part name="parameters" element="tns:getClassesResponse" />
</message>
<message name="getProperties">
<part name="parameters" element="tns:getProperties" />
</message>
<message name="getPropertiesResponse">
<part name="parameters" element="tns:getPropertiesResponse" />
</message>
<portType name="ApplicationWebService">
<operation name="addProperty">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addPropertyRequest" message="tns:addProperty" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addPropertyResponse" message="tns:addPropertyResponse" />
</operation>
<operation name="getPropertyByKey">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getPropertyByKeyRequest" message="tns:getPropertyByKey" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getPropertyByKeyResponse" message="tns:getPropertyByKeyResponse" />
</operation>
<operation name="getStudentsByClass">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentsByClassRequest" message="tns:getStudentsByClass" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentsByClassResponse" message="tns:getStudentsByClassResponse" />
</operation>
<operation name="getStudent">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentRequest" message="tns:getStudent" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentResponse" message="tns:getStudentResponse" />
</operation>
<operation name="addStudent">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addStudentRequest" message="tns:addStudent" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addStudentResponse" message="tns:addStudentResponse" />
</operation>
<operation name="updateStudent">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateStudentRequest" message="tns:updateStudent" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateStudentResponse" message="tns:updateStudentResponse" />
</operation>
<operation name="getStudentById">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentByIdRequest" message="tns:getStudentById" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentByIdResponse" message="tns:getStudentByIdResponse" />
</operation>
<operation name="getStudentsByName">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentsByNameRequest" message="tns:getStudentsByName" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getStudentsByNameResponse" message="tns:getStudentsByNameResponse" />
</operation>
<operation name="removeStudent">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeStudentRequest" message="tns:removeStudent" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeStudentResponse" message="tns:removeStudentResponse" />
</operation>
<operation name="getTeachers">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getTeachersRequest" message="tns:getTeachers" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getTeachersResponse" message="tns:getTeachersResponse" />
</operation>
<operation name="getTeacherById">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getTeacherByIdRequest" message="tns:getTeacherById" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getTeacherByIdResponse" message="tns:getTeacherByIdResponse" />
</operation>
<operation name="addTeacher">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addTeacherRequest" message="tns:addTeacher" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addTeacherResponse" message="tns:addTeacherResponse" />
</operation>
<operation name="updateTeacher">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateTeacherRequest" message="tns:updateTeacher" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateTeacherResponse" message="tns:updateTeacherResponse" />
</operation>
<operation name="getSubjects">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectsRequest" message="tns:getSubjects" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectsResponse" message="tns:getSubjectsResponse" />
</operation>
<operation name="getSubjectById">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectByIdRequest" message="tns:getSubjectById" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectByIdResponse" message="tns:getSubjectByIdResponse" />
</operation>
<operation name="getSubjectsByTeacher">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectsByTeacherRequest" message="tns:getSubjectsByTeacher" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectsByTeacherResponse" message="tns:getSubjectsByTeacherResponse" />
</operation>
<operation name="getSubjectsByBulk">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectsByBulkRequest" message="tns:getSubjectsByBulk" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getSubjectsByBulkResponse" message="tns:getSubjectsByBulkResponse" />
</operation>
<operation name="updateScores">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateScoresRequest" message="tns:updateScores" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateScoresResponse" message="tns:updateScoresResponse" />
</operation>
<operation name="updateScore">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateScoreRequest" message="tns:updateScore" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateScoreResponse" message="tns:updateScoreResponse" />
</operation>
<operation name="removeScores">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeScoresRequest" message="tns:removeScores" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeScoresResponse" message="tns:removeScoresResponse" />
</operation>
<operation name="archiveToLog">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/archiveToLogRequest" message="tns:archiveToLog" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/archiveToLogResponse" message="tns:archiveToLogResponse" />
</operation>
<operation name="editArchiveRemark">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/editArchiveRemarkRequest" message="tns:editArchiveRemark" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/editArchiveRemarkResponse" message="tns:editArchiveRemarkResponse" />
</operation>
<operation name="archiveToLogByStudent">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/archiveToLogByStudentRequest" message="tns:archiveToLogByStudent" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/archiveToLogByStudentResponse" message="tns:archiveToLogByStudentResponse" />
</operation>
<operation name="getClassById">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getClassByIdRequest" message="tns:getClassById" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getClassByIdResponse" message="tns:getClassByIdResponse" />
</operation>
<operation name="updateClass">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateClassRequest" message="tns:updateClass" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateClassResponse" message="tns:updateClassResponse" />
</operation>
<operation name="removeClass">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeClassRequest" message="tns:removeClass" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeClassResponse" message="tns:removeClassResponse" />
</operation>
<operation name="getBulks">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getBulksRequest" message="tns:getBulks" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getBulksResponse" message="tns:getBulksResponse" />
</operation>
<operation name="getBulkById">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getBulkByIdRequest" message="tns:getBulkById" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getBulkByIdResponse" message="tns:getBulkByIdResponse" />
</operation>
<operation name="addBulk">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addBulkRequest" message="tns:addBulk" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addBulkResponse" message="tns:addBulkResponse" />
</operation>
<operation name="updateBulk">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateBulkRequest" message="tns:updateBulk" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateBulkResponse" message="tns:updateBulkResponse" />
</operation>
<operation name="removeBulk">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeBulkRequest" message="tns:removeBulk" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeBulkResponse" message="tns:removeBulkResponse" />
</operation>
<operation name="adminLogin">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/adminLoginRequest" message="tns:adminLogin" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/adminLoginResponse" message="tns:adminLoginResponse" />
</operation>
<operation name="getAdmins">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getAdminsRequest" message="tns:getAdmins" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getAdminsResponse" message="tns:getAdminsResponse" />
</operation>
<operation name="addAdmin">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addAdminRequest" message="tns:addAdmin" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addAdminResponse" message="tns:addAdminResponse" />
</operation>
<operation name="updateAdmin">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateAdminRequest" message="tns:updateAdmin" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateAdminResponse" message="tns:updateAdminResponse" />
</operation>
<operation name="removeAdmin">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeAdminRequest" message="tns:removeAdmin" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeAdminResponse" message="tns:removeAdminResponse" />
</operation>
<operation name="getPropertyValueByKey">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getPropertyValueByKeyRequest" message="tns:getPropertyValueByKey" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getPropertyValueByKeyResponse" message="tns:getPropertyValueByKeyResponse" />
</operation>
<operation name="updateProperty">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updatePropertyRequest" message="tns:updateProperty" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updatePropertyResponse" message="tns:updatePropertyResponse" />
</operation>
<operation name="addSubject">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addSubjectRequest" message="tns:addSubject" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addSubjectResponse" message="tns:addSubjectResponse" />
</operation>
<operation name="updateSubject">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateSubjectRequest" message="tns:updateSubject" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/updateSubjectResponse" message="tns:updateSubjectResponse" />
</operation>
<operation name="removeSubject">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeSubjectRequest" message="tns:removeSubject" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removeSubjectResponse" message="tns:removeSubjectResponse" />
</operation>
<operation name="teacherLogin">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/teacherLoginRequest" message="tns:teacherLogin" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/teacherLoginResponse" message="tns:teacherLoginResponse" />
</operation>
<operation name="getScoresBySubject">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getScoresBySubjectRequest" message="tns:getScoresBySubject" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getScoresBySubjectResponse" message="tns:getScoresBySubjectResponse" />
</operation>
<operation name="getScoresByClass">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getScoresByClassRequest" message="tns:getScoresByClass" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getScoresByClassResponse" message="tns:getScoresByClassResponse" />
</operation>
<operation name="addScores">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addScoresRequest" message="tns:addScores" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addScoresResponse" message="tns:addScoresResponse" />
</operation>
<operation name="removeProperty">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/removePropertyRequest" message="tns:removeProperty" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/removePropertyResponse" message="tns:removePropertyResponse" />
</operation>
<operation name="addClass">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/addClassRequest" message="tns:addClass" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/addClassResponse" message="tns:addClassResponse" />
</operation>
<operation name="getClasses">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getClassesRequest" message="tns:getClasses" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getClassesResponse" message="tns:getClassesResponse" />
</operation>
<operation name="getProperties">
<input wsam:Action="http://ws.marksmana.com/ApplicationWebService/getPropertiesRequest" message="tns:getProperties" />
<output wsam:Action="http://ws.marksmana.com/ApplicationWebService/getPropertiesResponse" message="tns:getPropertiesResponse" />
</operation>
</portType>
<binding name="ApplicationWebServicePortBinding" type="tns:ApplicationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPropertyByKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentsByClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStudentsByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTeachers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTeacherById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addTeacher">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateTeacher">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSubjects">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSubjectById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSubjectsByTeacher">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSubjectsByBulk">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateScores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateScore">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeScores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="archiveToLog">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="editArchiveRemark">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="archiveToLogByStudent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getClassById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBulks">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getBulkById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addBulk">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateBulk">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeBulk">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="adminLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAdmins">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeAdmin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPropertyValueByKey">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addSubject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateSubject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeSubject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="teacherLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getScoresBySubject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getScoresByClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addScores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addClass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getClasses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProperties">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ApplicationWebService">
<port name="ApplicationWebServicePort" binding="tns:ApplicationWebServicePortBinding">
<soap:address location="http://marksmanager.56mfu9rwbj.us-east-1.elasticbeanstalk.com:80/ApplicationWebService" />
</port>
</service>
</definitions>